<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aim Training</title>
    <link rel="stylesheet" href="../styles/acercaDe.css" />
    <link
      rel="shortcut icon"
      href="../assets/Favicon.jpg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="hero">
      <p>¡Bienvenido a nuestra página de información!</p>
      <p>
        Aquí encontrarás todo lo que necesitas saber sobre nuestro sitio web.
      </p>
    </div>

    <h2>¿Qué es el "Aim Training"?</h2>
    <p>Aim Training es una plataforma de entrenamiento de puntería en línea.</p>
    <p>
      En Aim Training, los usuarios pueden entrenar su puntería en una variedad
      de juegos.
    </p>
    <p>
      Los usuarios pueden ver sus estadísticas de entrenamiento y compararlas
      con las de otros usuarios.
    </p>
    <p>
      Los usuarios también pueden crear y unirse a grupos para entrenar con sus
      amigos.
    </p>
    <p>
      Los usuarios pueden crear y unirse a torneos para competir con otros
      usuarios.
    </p>
    <p>
      Los usuarios pueden crear y unirse a partidas personalizadas para entrenar
      con otros usuarios.
    </p>
    <p>
      Los usuarios pueden crear y unirse a partidas públicas para entrenar con
      otros usuarios.
    </p>

    <h2>Misión</h2>
    <p>
      Nuestra misión es proporcionar a nuestros usuarios una plataforma de
      entrenamiento de puntería de alta calidad.
    </p>
    <h2>Visión</h2>
    <p>
      Nuestra visión es convertirnos en el referente mundial en el entrenamiento
      de puntería en línea.
    </p>
    <h2>Valores</h2>
    <ul>
      <li>
        Excelencia: Nos esforzamos por ofrecer la mejor experiencia de
        entrenamiento posible.
      </li>
      <li>
        Innovación: Buscamos constantemente nuevas formas de mejorar y
        evolucionar.
      </li>
      <li>
        Comunidad: Fomentamos un ambiente inclusivo y colaborativo para nuestros
        usuarios.
      </li>
    </ul>
    <div class="button">
      <a href="../index.html" class="btn">Volver al inicio</a>
    </div>
    
  </body>
</html>
